{% extends 'layout/base.html' %}

{% block content %}
	{% include 'elements/nav.html' %}
	<section class="container-fluid" id="section1">
  	<h1 class=" v-center"><img src="D\app_ambiente\app_ambiente\logoapambiente2.png" class="img"></h1>
 	
  	<div class="container">
      <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2 text-center"><h3>¿Quienes somos?</h3><p>Somos una solucion para nuestro mundo...</p><i class="fa fa-cog fa-5x"></i></div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 text-center"><h3>¿Que queremos?</h3><p>Demostrar que con nuestra basura podemos generar ingresos y diversas utilidades...</p><i class="fa fa-user fa-5x"></i></div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-10 text-center"><h3>Contactanos</h3><p>Quieres ser parte de nuestra comunidad...registrate</p><i class="fa fa-mobile fa-5x"></i></div>
            </div>
          </div>
      </div><!--/row-->
    <div class="row"><br></div>
  </div><!--/container-->
</section>
{% endblock content %}